.nav__left { display: flex }

.nav__logo-inner {
    width: 180px;
    height: 70px;
    background: url('../../../../public/assets/img/headerImg/AccessBankLogo.svg') center no-repeat;
    background-size: 150px;
    cursor: pointer;
    transition: height .2s;

}

.sticky {
    transition: height .2s;
    height: 60px;
}

.nav__left-link {
    display: flex;
    align-items: center;
    transition: 0.2s ease;
}

.nav__left-link a {
    font: 13px "GTE-regular", sans-serif;
    letter-spacing: 0.5px;
    border-right: 1px solid #e2e6ea;
    padding: 2.5px 10px 3px 10px;
    color: #4f5258;
    cursor: pointer;
    position: relative;
}

.nav__left-link:first-of-type a {
    border-right: 1px solid #e2e6ea;
    border-left: 1px solid #e2e6ea;
    padding: 2.5px 10px 3px 10px;
}

.nav__left-link a::after {
    content: "";
    width: 10px;
    height: 10px;
    background: url('../../../../public/assets/img/headerImg/arrowDown.svg') center/cover;
    background-size: 20px;
    position: absolute;
    bottom: -10px;
    transition: 0.3s;
    left: 50%;
    transform: translate(-52%, 0);
}

.nav__left-link:hover a::after { transform: rotate(180deg) }
.nav__left-link:hover { background: linear-gradient(180deg, #f9fafb, white) }
.nav__left-link:hover .drop { display: block }
.nav__left-link:hover a { color: #2362a9 }
.nav__logo:hover { background: #f9fafb }


@media only screen and (max-width: 800px) {

    .nav__logo-inner { width: 160px; background-size: 130px }
    .nav__left-link { display: none }
}
@media only screen and (max-width: 1028px) {
    
    .testing2 { display: none }
}

@media only screen and (max-width: 885px) {
   
    .testing { display: none }
}


