.swiper-slide { padding-top: 70px }

.slide-inner {
    min-height: 420px;
    display: flex;
    align-items: center;
}

.slide__text-content {
    min-width: 495px;
    width: 45%;
    height: 100%;
    padding: 7px 20px 20px 40px;
    z-index: 2;
}

.slide__title {
    font: bold 36px/38px "GTE-bold", sans-serif;
    color: #3A3D41;
    letter-spacing: 0.5px;
    padding-bottom: 12px;
}

.slide__desc {
    font: 18px/24px "GTE-light", sans-serif;
    letter-spacing: 0.5px;
    color: #3A3D41;
    padding-bottom: 36px;
}

.slide__btn {
    font: 16px/23px "GTE-regular", sans-serif;
    min-width: 140px;
    color: #fff;
    height: 48px;
    border-radius: 5px ;
    border: none;
    cursor: pointer;
    transition: 0.1s ease;
    outline: none;
    letter-spacing: 0.5px;
}

.slide__img {
    width: 100%;
    min-height: 420px;
    background-size: 420px;
    position: absolute;
    z-index: 1;
    margin-left: 42.5%;
    transform: translate(-23.6%, 0);
}

.swiper-button-prev , .swiper-button-next {
    display: none!important;
    opacity: 0;
    min-width: 42px;
    min-height: 42px;
    border-radius: 50%;
    transition: 0.2s;
    background-color: #f4f4f4;
    box-shadow: 0px 8px 24px 4px rgb(174 174 192 / 30%), 0px 4px 12px 2px rgb(174 174 192 / 30%);
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: ''!important;
    width: 30px;
    height: 30px;
    background: url('../../../../public/assets/img/mainImg/sliderImg/arrowPrev.svg') center/cover no-repeat;
    position: absolute;
    background-size: 22px;
    transform: rotate(90deg);
    transition: .5s;
}
.swiper-button-next::after {
    transform: rotate(-90deg);
}

.swiper-pagination {
    position: absolute;
    bottom: 25px!important;
}

.swiper-pagination span { 
    background: #2362a9 !important;
    width: 8.6px;
    height: 8.6px;
}

.swiper-button-prev:hover, .swiper-button-next:hover { background: #fff; transition: .5s }
.slide__btn:hover { filter: brightness(0.95) }
.swiper:hover .swiper-button-prev, .swiper:hover .swiper-button-next{
    display: flex!important;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@media only screen and (max-width: 960px) {
    .slide__text-content { width: 50%; min-width: 390px; padding: 7px 0 20px 40px }
}

@media only screen and (max-width: 800px) {

    .slide__img { background-size: 320px!important }
    .slide__title {
        font: bold 26px/30px "GTE-bold", sans-serif;
        letter-spacing: 0.1px;
    }
}

@media only screen and (max-width: 585px) {

    .swiper-slide { padding-top: 25px }

    .slide__text-content {
        width: 50%;
        min-width: 150px;
        padding: 0 0 0 20px 
    }

    .slide__title { font: bold 22px/24px "GTE-bold", sans-serif }
    .slide__desc { font:  18px/19px "GTE-light", sans-serif }
    .slide__img { background-size: 220px!important; padding-right: 30px }

    .slide__btn {
        font: 15px/23px "GTE-regular", sans-serif;
        min-width: 90px;
        background-color: #31A993;
        color: #fff;
        height: 40px;
        border-radius: 5px ;
        border: none;
        cursor: pointer;
        transition: 0.1s ease;
        outline: none;
        letter-spacing: 0.5px;
    }
}

@media only screen and (min-width: 1400px) {
    .slide__img { width: 50%; right: 0 }
}
