.currency-rates__table {
    display: inline-flex;
    flex-wrap: wrap;
    width: 56%;
    margin: 0 2%;
}

.table-inner {
    padding-top: 0;
    padding-bottom: 18px;
    min-height: 270px;
    overflow: auto;
    margin-bottom: 24px;
    border-radius: 10px;
    width: 100%
}

.table-inner table {
    display: table;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 22px;
}

.table-inner tr { vertical-align: top; border-bottom: 2px solid #f2f2f2; }
.thead td { font-family: "GTE-bold"!important; font-weight: normal }

.table-inner td {
    height: 50px;
    padding: 10px 8px;
    max-width: 250px;
    color: #777c84;
    font-family: "GTE-light";
    transition: 0.2s;
    border-right: 2px solid #f2f2f2;
    vertical-align: middle;
    width: 33%;
}

.table-inner tr:last-child { border-bottom: none }

.price {
    position: relative;
    letter-spacing: 1.5px;
}

.last-td { border-right: none!important }
.activeTable { background: #f2f7ff }
.noActiveTable { background: #f7f7f7 }

.stabil::before, .down::before, .up::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 23px;
    margin-right: 10px;
    vertical-align: middle;
    background-size: 24px;
}

.stabil::before { background: url('../../../../public/assets/img/mainImg/diffImg/minusCurrency.svg') center/cover }

.down::before {
    background: url('../../../../public/assets/img/mainImg/diffImg/arrowCurrency.svg') center/cover;
    filter: invert(23%) sepia(71%) saturate(2962%) hue-rotate(348deg) brightness(90%) contrast(91%);
}

.up::before {
    background: url('../../../../public/assets/img/mainImg/diffImg/arrowCurrency.svg') center/cover;
    filter:invert(20%) sepia(96%) saturate(4046%) hue-rotate(103deg) brightness(97%) contrast(105%);
    transform: rotate(180deg);
}

.dispN { display: none }
.data { font: 14px "GTE-light", sans-serif!important }

