@media only screen and (min-width: 800px) {
    .menu-mobile { display: none }
}

@media only screen and (max-width: 800px) {

    .menu-mobile {
        position: fixed;
        width: 100%;
        height: calc(100vh - 70px);
        background: #fff;
        z-index: -5;
        overflow: auto;
    }
    
    .menu-mobile__header {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 15px 15px 10px 20px;
        border-bottom: 1px solid #e3e5e9;
    }

    .menu-mobile__header .nav__right-line { display: none }
    .menu-mobile__header .nav__right-links { flex-direction: row;  margin-right: 50px }
    .menu-mobile__header a { font-size: 16px; padding: 10px }

    .menu-mobile__search {
        width: 32px;
        height: 32px;
        background: url('../../../../public/assets/img/headerImg/search.svg');
    }

    .menu-mobile__content { padding: 10px 20px }

    .menu-mobile__content span {
        display: block;
        width: 30px;
        height: 30px;
        background: url('../../../../public/assets/img/headerImg/arrowDown.svg');
        transform: rotate(-90deg);
    }

    .menu-mobile__footer {
        border-top: 1px solid #e6e6e6;
        /*padding: 10px 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;*/
    }
}