form {
    width: calc(100% - 180px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -200px;
    transition: .2s ease opacity, height .2s;
}

.form-opacity1 { 
    position: relative;
    top: 0;  
    opacity: 1;
}

.form__h-60 { height: 60px!important }

.search__input {
    display: inline-flex;
    width: calc(100% - 245px);
    padding: 10px 10px 10px 40px;
    margin: 0;
    font: 18px "GTE-light", sans-serif;
    border: none;
    background: url('../../../../public/assets/img/headerImg/search.svg') no-repeat center left;
    background-size: 30px;
    background-position: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
}

.search__close-btn {
    display: inline-flex;
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 100px;
    cursor: pointer;
    margin: 0px 25px 0px 0px;
    transition: 0.1s;
    background: url('../../../../public/assets/img/headerImg/close.svg') no-repeat center center #fff;
    background-size: 30px;
    transition: 0.2s ease;
}

.search__close-btn:hover { background-color: #f3f3f3 }