.nav__language {
    margin: 0 4px;
    position: relative;
    cursor: pointer;
    margin-right: -3px
}

.nav__language-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 46px;
    height: 50px;
    border-radius: 10px;
}

.nav__language-icon {
    width: 32px;
    height: 28px;
    background: url('../../../../public/assets/img/headerImg/globe.svg') center/cover;
    background-size: 28px;
}

.nav__language-other {
    display: none;
    position: absolute;
    width: 56px;
    padding: 65px 5px 3px 5px;
    background: #ffffff;
    box-shadow: 0 5px 10px #3162a92b;
    border-radius: 10px;
    text-align: center;
    transition: 1s;
    top: -1px;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav__language-other div {
    font: 15px/20px "GTE-regular", sans-serif;
    padding: 4px 0;
    margin-bottom: 4px;
    border-radius: 5px;
    width: 100%;
    color: #2362a9;
    letter-spacing: 0.5px;
}

.nav__language-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 14px/22px "GTE-regular", sans-serif;
    color: #616161;
    letter-spacing: 0.5px
}

.nav__language:hover .nav__language-main { background: #f3f3f3 }
.nav__language-main:hover { background: #f3f3f3 }
.nav__language-main:hover ~ .nav__language-other { display: block }
.nav__language-other div:hover { background: #f2f8ff }
.nav__language-other:hover { display: block }
.nav__search:hover { background: #f3f3f3 }

@media only screen and (max-width: 800px) {

    .nav__language { margin-right: 25px }
}