.cont {
    max-width: 420px;
    width: 100%;
    height: 336px;
    margin: 0 auto;
}

.MuiSlider-root {
    color: #31A993!important;
    height: 7px!important;
    cursor: default!important;

}

.MuiSlider-rail {
    background: #b3b3b3 !important;
}

.MuiSlider-thumb {
    width: 24px!important;
    height: 24px!important;
    background: #36a993 !important;
    border: 8px solid #fbfbfb !important;
    box-shadow: 0 0 3px #9e9e9e !important;

}