.form-mobile {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__input-mobile {
    display: inline-flex;
    width: 100%;
    padding: 10px 10px 10px 40px;
    margin: 0;
    font: 18px "GTE-light", sans-serif;
    border: none;
    background: url('../../../../public/assets/img/headerImg/search.svg') no-repeat center left;
    background-size: 30px;
    background-position: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
}

.search__close-btnMobile {
    display: inline-flex;
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 100px;
    cursor: pointer;
    margin: 0px 25px 0px 0px;
    transition: 0.1s;
    background: url('../../../../public/assets/img/headerImg/close.svg') no-repeat center center #fff;
    background-size: 30px;
    transition: 0.2s ease;
}

